$primary-1: hsl(203, 100%, 39%);
$primary-2: hsl(203, 64%, 51%);
$primary-3: hsl(203, 54%, 63%);
$primary-4: hsl(203, 65%, 88%);

$primary-dark-1: hsl(0, 0%, 20%);
$primary-dark-2: hsl(0, 0%, 38%);
$primary-dark-3: hsl(0, 0%, 64%);
$primary-dark-4: hsl(0, 0%, 75%);

$error: red;
$warning: orange;
$success: green;
