@use '../_variables' as v;

%f-h1 {
	font-size: 6rem;
	line-height: 1.25;
}

%f-h2 {
	font-size: 5rem;
	line-height: 1.25;
}

%f-body--normal {
	font-size: 1rem;
	line-height: 1.25;
}

%f-text {
	&--descriptive {
		@extend %f-body--normal;
	}

	&--error {
		@extend %f-body--normal;
		color: v.$color-error;
	}

	&--warning {
		@extend %f-body--normal;
		color: v.$color-warning;
	}

	&--success {
		@extend %f-body--normal;
		color: v.$color-success;
	}
}
